{% extends "base.html" %}



{% block content %}


    {% comment %} <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-3">
                {% for message in messages %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
                <form action="" method="POST">
                {% csrf_token %}
                    {% load widget_tweaks %}

                    <div class="form-group">
                        {{ form.username|add_class:"form-control" }}
                    </div>
                    <div class="form-group">
                        {{ form.email|add_class:"form-control" }}
                    </div>
                     <div class="form-group">
                        {{ form.password1|add_class:"form-control" }}
                    </div>
                     <div class="form-group">
                        {{ form.password2|add_class:"form-control" }}
                    </div>
                     <div class="form-group">
                        {{ form.first_name|add_class:"form-control" }}
                    </div>

                    {{ profileform}}
                    

                    <div class="form-group">
                        <input type="submit" name="create" class="btn btn-primary">
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
    {% endcomment %}

<form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    {{ profile_form.as_p }}
    <input type="submit" name="submit">

</form>

{% comment %} uploded image for profile pic code {% endcomment %}
<img src="{{ request.user.userprofile.profile_pic.url}}">


{% endblock content %}

